.menu {
    border-top: 2px solid #034001;
    position: sticky;
    top: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #034001;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
}

.menu a:hover, .menu a:focus, .menu a:active {
    background-color: #756158;
}

h1 {
    text-align: center;
}
h2{

}
body{
    background-color: whitesmoke;
    color:black ;
}